@model StoreFront.DATA.EF.Models.Category

<tr id="category-@Model.CategoryId">
    <td colspan="4">
        <form asp-action="~/Categories/EditPost" method="post" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />

            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>

            <textarea asp-for="CategoryDescription" class="form-control"></textarea>
            <span asp-validation-for="CategoryDescription" class="text-danger"></span>

            <input type="button" value="Save" class="btn btn-primary" id="saveUpdate" />
        </form>
    </td>
</tr>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
