@{
    ViewData["Title"] = "Home";
}
@section Slider {
    <!-- slider section -->
    <section class="slider_section ">
        <div class="slider_bg_box">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        <span>
                                            Stardew
                                        </span>
                                        <br>
                                        Apothecary
                                    </h1>
                                    <p>
                                        Simple luxuries for country living.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        <span>
                                            Shop Our
                                        </span>
                                        <br>
                                        Products
                                    </h1>
                                    <p>
                                        We take our time sourcing our products to make sure you get the very best!  From             local vendors to corporations - we provide anything and everything you may need to             live with ease.
                                    </p>
                                    <div class="btn-box">
                                        <a href="@Url.Action("Index", "Products")" class="btn1">
                                            Shop Now
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        <span>
                                            Contact
                                        </span>
                                        <br>
                                        Us
                                    </h1>
                                    <p>
                                        Have a question, suggestion, or nice comment?  Let us know!
                                    </p>
                                    <div class="btn-box">
                                        <a href="@Url.Action("Contact", "Home")" class="btn1">
                                            Get In Touch
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>
        <div id="divider"></div>
        </div>
    </section>
    <!-- end slider section -->
}
